.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        display: grid;
        align-items: center;
        font: var(--subtitle);
        color: var(--color-red);
    }

    h2 {
        font: var(--title-md);
        color: var(--color-gray-600);
        margin-top: 8px;
    }
}

.projectcard {
    display: grid;
    justify-content: center;
    padding: 12px;
    width: 330px;
    height: 280px;
    background-color: var(--color-gray-300);
    border-radius: 8px;

    img {
        width: 306px;
        height: 156px;
        border-radius: 8px;
    }

    h4 {
        font: var(--title-sm);
        color: var(--color-gray-600);
        margin-top: 20px;
    }

    p {
        font: var(--text-sm);
        color: var(--color-gray-600);
        margin-top: 8px;
    }


}

.card {
    width: 280px;
    border: 2px solid var(--color-gray-300);
    padding: 20px;
    border-radius: 12px;

    img {
        width: 48px;
        height: 48px;
        margin-bottom: 27px;
    }
    
    h3 {
        font: var(--title-sm);
        color: var(--color-gray-600);
        margin-bottom: 8px;
    }
    
    p {
        font: var(--text-sm);
        color: var(--color-gray-500);
    }
    
}